<header class="container-fluid mx-0 px-0 mb-5 pb-5">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark py-0 clarity-bg-dark-6">
        <img class="px-5 py-1" src="../../../assets/images/rick-morty-logo.png" alt="...">
        <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5 me-auto">
                <li class="nav-item mx-0 mx-md-4">
                    <a class="nav-link" routerLink="/home">Inicio</a>
                </li>
                <li class="nav-item mx-0 mx-md-4">
                    <a class="nav-link" routerLink="/characters">Lista de personajes</a>
                </li>
                <li class="nav-item mx-0 mx-md-4">
                    <a class="nav-link" routerLink="/favorites">Lista de favoritos</a>
                </li>
            </ul>
        </div>
    </nav>
</header>