section#favoritesTable>div#divTable {
    overflow: auto;
}

section#favoritesTable table {
    /* box-shadow: 5px 5px 2px rgba(255, 255, 255, 0.5); */
    overflow: hidden;
    border-radius: 5px;
}

section#favoritesTable table th {
    cursor: pointer;
    background-color: #218532;
}

section#favoritesTable table th:hover {
    background-color: rgba(33, 133, 50, 0.6);
}

section#favoritesTable table th.arrow-up::after {
    content: '\25b4'
}

section#favoritesTable table th.arrow-down::after {
    content: '\25be'
}

section#favoritesTable table>tbody>tr>td {
    color: #FFFFFF;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.9);
}

section#favoritesTable table>tbody>tr>td span,
input {
    cursor: pointer;
}