<section class="container my-5 text-center" id="userHome">
    <p class="alert fs-1" role="alert"> ¡Bienvenido! </p>

    <div class="alert fs-5 mt-5" role="alert">
        <p class="alert-heading fs-3">Hola terrícola...</p>
        <hr>
        <p>
            En esta aplicación encontrará un listado de los personajes de la conocida serie <i>Rick & Morty</i>. <br> Espero que disfrute su navegación por la aplicación.
        </p>
        <hr>
        <pre class="mb-0">
            Puede agregar personajes a una lista de favoritos para consultarlos después.
            También puede eliminar cualquier favorito cuando usted desee.</pre>
    </div>
</section>