<div class="modal fade" id="popUpWindow" tabindex="-1" aria-labelledby="popUpWindowLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div *ngIf="displayInfo" class="modal-content">
            <div class="modal-header fs-5">
                <span [class]="iconClass"></span> &nbsp; Detalles del episodio
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
            </div>
            <div class="modal-body mx-auto text-center">
                <p class="modal-title">No. de episodio: <span>&nbsp;{{data.id}}</span></p>
                <p class="modal-title">Título: <span>&nbsp;{{data.name}}</span></p>
                <p class="modal-title">Fecha de lanzamiento: <span>&nbsp;{{data.air_date | date: 'MMMM dd, yyyy'}}</span></p>
                <p class="modal-title">Código de episodio: <span>&nbsp;{{data.episode}}</span></p>
                <p class="modal-title">Url del episodio: <span>&nbsp;{{data.url}}</span></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="accept()">OK</button>
            </div>
        </div>

        <div *ngIf="!displayInfo" class="modal-content">
            <div class="modal-header">
                <span [class]="iconClass"></span> &nbsp; Mensaje de confirmación
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
            </div>
            <div class="modal-body mx-auto text-center">
                <p class="far fa-exclamation-triangle fa-5x text-warning"></p>
                <p class="modal-title fs-5">¿Realmente desea eliminar el favorito?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="accept()">OK</button>
            </div>
        </div>
    </div>
</div>