div#pager ul>li>a.page-link {
    color: #0b66b1;
}

div#pager ul>li>a.page-link:hover {
    color: #190183;
    background-color: rgba(255, 255, 255, 0.7);
}

div#pager ul>li>a.page-link:focus {
    color: #190183;
    background-color: rgba(255, 255, 255, 0.7);
}

div#pager ul>li.active>a.page-link {
    color: #FFFFFF;
    background-color: #1c60b9;
}